@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.main {
    width: 50%;
    margin-top: 2em;
    padding: 100px;
    background-image: url("img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #68ae9d;
    background-blend-mode: darken;
    border: 2px solid black;
    border-radius: 5px;
}

h1 {
    font-size: 35px;
    margin-bottom: 25px;
}

.input-container input[type="text"] {
    font-family: 'Shantell Sans', cursive;
    color: aqua;
    width: 200px;
    padding: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    font-size: 22px;
    text-align: center;
    color: #000000;
    /* Text color */
    background-color: #f2f2f2;
    /* Background color */
}

.dropdown {
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    margin: 25px;
}

.dropdown select {
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 18px;
}

#getWeatherButton {
    font-family: 'Shantell Sans', cursive;
    margin: 10px;
    margin-bottom: 30px;
    padding: 9px;
    font-size: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;

}

#displayResult {
    font-size: 22px;
    background-color: white;

}