* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(45deg, red, orange, yellow, orange, red);
    padding: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

label {
    display: block;
    font-weight: bold;

}

.temp {
    width: 50%;
    padding: 50px 0;
    background-image: linear-gradient(to bottom right, red, orange, red, orange, red);
}

.input-div {
    display: inline-block;
}

.inp {
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

label {
    font-size: 22px;
}

.reset-button {
    background-image: linear-gradient(to bottom right, red, orange, red);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 40px;
    font-weight: bold;
}

.reset-button:hover {
    background-color: red;
}